$wrapper_width: 1240px;
$mobile_width: 340px;
$main_font: "Inter", sans-serif;
$sec_font: "Onest", sans-serif;

$bg: #fafafa;
$text_main: #1e1f1f;
$text_secondary: #7e807f;
$text_tertiary: #fff;
$text_brand: #056b53;
$surface_main: #fff;
$surface_secondary: #edf0ef;
$surface_brand: #056b53;
$surface_tertiary: #1e1f1f;
$surface_green: #b8e87c;
$surface_pink: #f3d1ff;
$surface_yellow: #fcebba;
$icon_main: #656666;
$state_surface_brandhover: #078f6f;
$state_surface_brandactive: #045c47;
$state_surface_tertiaryhover: #323333;
$state_surface_-tertiaryactive: #0f0f0f;
